<h1><%= @auction.item %></h1>
<h3><%= "Sold By #{@auction.seller.username}" %></h3>

<% if @auction.seller == current_user && !@auction.sold %>
    <%= button_to "Delete Auction", auction_path(@auction), method: :delete %>
<% end %>

<% if !@auction.bidders.empty? %>
    <% if @auction.sold %>
        <h3>Item has been sold for $<%= @auction.bids.highest_bid.bid %></h3>
    <% else %>
        <h3>Highest Bid:</h3>
        <h4><%= "$#{@auction.bids.highest_bid.bid} - #{@auction.bids.highest_bidder.username}" %></h4>

        <% if @auction.seller == current_user && !@auction.sold %>
            <%= form_for @auction do |f| %>
                <%= hidden_field_tag "sold", "true" %>
                <%= f.submit "Accept Bid" %>
            <% end %>
        <% end %>
    <% end %>

    <h3>Bid History:</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Bid Amount</th>
                    <th scope="col">Bidder</th>
                </tr>
            </thead>

            <tbody>
                <% @auction.bids.bid_history.each do |bid| %>
                    <tr>
                        <td><%= "#{bid.bid}"%></td>
                        <td><%= "#{bid.bidder.username}" %></td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
<% end %>

<% if @auction.seller != current_user && !@auction.sold %>
    <h3>Place Bid:</h3>

    <% if @bid.errors.any? %>
    <div id="error_explanation">
        <h2>The following error(s) occurred:</h2>
        <ul>
            <% @bid.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
    <!-- form if current user has already bid on auction -->
    <% if @auction.bidders.include? current_user %>
        <%= form_for @auction.bids.find_by(bidder: current_user) do |f| %>
            <%= f.number_field :bid, step: 1, min: (@auction.bids.highest_bid.bid + 1), placeholder: (@auction.bids.highest_bid.bid + 1) %>
            <%= f.submit %>
            <%= f.fields_for @auction do |auction| %>
                <%= auction.hidden_field :id %>
            <% end %>
        <% end %>
    <!-- form if current user has not bid on auction -->
    <% else %>
        <%= form_for @bid do |f| %>
            <%= f.number_field :bid, step: 1 %>
            <%= f.submit %>
            <%= f.fields_for @auction do |auction| %>
                <%= auction.hidden_field :id %>
            <% end %>
        <% end %>
    <% end %>
<% end %>