<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2>Unable to signup. The following error(s) occurred:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: "Username" %><br>
    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
    <%= f.submit "Signup"%><br>
    <%= link_to "Click here to signup with Google", "/auth/google_oauth2"%>
<% end %>