<h1>Welcome, <%= @user.username %></h1>
<%= form_tag '/logout' do %>
    <%= submit_tag 'Logout' %>
<% end %>

<h3>Auctions</h3>
<% if @user.auctions.empty? %>
    <%= link_to "Create an Auction", new_auction_path %>
<% else %>
    <ul>
        <%= @user.auctions.each do |auction| %>
            <li><%=link_to auction.item, auction_path(auction) %></li>
        <% end %>
    </ul>
<% end %>

<h4>Bidded Auctions</h4>
<% if @user.bidded_auctions.empty? %>
    No available bids, <%= link_to "click here to browse auctions", auctions_path %>
<% else %>
    <ul>
        <%= @user.bidded_auctions.each do |auction| %>
            <%= link_to auction.item, auction_path(auction) %>
        <% end %>
    </ul>
<% end %>